.fontAndPadding {
  font-size: 2.5rem;
  padding-top: 4rem;
  padding-bottom: 1em;
}

.positioning {
  z-index: 0;
  position: relative;
}

.positioningInner {
  position: relative;
  align-items: flex-start;
}

.marginingInner {
  width: calc(100% + 1.5rem);
  margin: calc(1.5rem / -2);
}

.mainHeader {
  color: #202020;
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.21429em;
  margin-bottom: 0.71429em;
}

.smallText {
  color: rgba(32, 32, 32, 0.7);
  font-size: 1rem;
  max-width: 36.25rem;
  font-weight: 300;
  line-height: 1.40625em;
  padding-bottom: 1.25em;
}

.smallText p {
  margin: 0.625rem 0 0.625rem;
}

.smallText p:first-child {
  margin-top: 0;
}

.smallText p:last-child {
  margin-bottom: 0;
}

.description {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
}

.boldText {
  width: 50%;
  border: 1px solid rgba(32, 32, 32, 0.08);
  padding: 2.4em 2.65em;
  font-size: 0.75rem;
  flex-basis: 50%;
  flex-shrink: 0;
  line-height: 1.2em;
}

.boldText b {
  color: #965a46;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 0.45em;
}

.boldText span {
  display: block;
  max-width: 10em;
}

.boldText:nth-child(odd) {
  border-left: none;
}

.boldText:nth-child(even) {
  border-left: none;
  border-right: none;
}

.boldText:nth-child(n + 3) {
  border-top: none;
}

.videoContainer {
  position: relative;
  padding-bottom: 117%;
}

.videoPositioning {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;
  position: absolute;
}

.video {
  width: 100%;
  height: calc(100% + 2px);
  max-width: initial;
  object-fit: cover;
}

.link {
  color: #202020;
  right: 0;
  display: flex;
  position: relative;
  font-size: 1rem;
  transition: color 0.25s ease-out;
  align-items: safe center;
  --color-arrow: #5c2a26;
  justify-content: end;
  text-decoration: none;
}

.link .svg {
  color: #fccda2;
  width: 2.9em;
  height: 2.95em;
  transition: color 0.25s ease-out;
}

.link:active {
  color: #202020;
}

.link:active .svg {
  color: #cc9d76;
}

.link:hover .svg {
  color: #f8dfca;
}

.svg {
  font-size: inherit;
  margin-right: 1.0625em;
}

@media (min-width: 456px) {
  .videoContainer {
    width: 95%;
    margin: 0 0 0 auto;
    padding-bottom: 115%;
  }
}

@media (min-width: 640px) {
  .smallText {
    font-size: 1rem;
    padding-bottom: 2.5em;
  }
}

@media (min-width: 900px) {
  .boldText {
    padding: 2em 3em;
    font-size: 1rem;
  }

  .boldText b {
    font-size: 1.875rem;
    margin-bottom: 0.2em;
  }

  .link {
    padding: 0 0;
    position: absolute;
    margin-top: -2.5rem;
  }

  .link .svg {
    width: 3.625em;
    height: 3.6875em;
  }
}

@media (min-width: 1280px) {
  .smallTextContainer {
    margin-right: 3.125em;
  }

  .description {
    margin-right: 3em;
  }

  .boldText {
    font-size: 1.25rem;
  }

  .boldText b {
    font-size: 2.25rem;
  }

  .videoContainer {
    margin: -3.875em 0 0 auto;
  }

  .link {
    z-index: 20;
    margin-top: -2.5rem;
    margin-right: 1rem;
  }
}

@media (min-width: 1520px) {
  .fontAndPadding {
    font-size: 3.5rem;
    padding-top: 2.85714em;
  }

  .boldText b {
    font-size: 2.5rem;
  }
}
