.wrapper {
  width: 80%;
  margin: 0 auto;
  background: #ffc80052;
  border-radius: 15px;
  font-size: 18px;
  padding: 20px;

  @media (min-width: 1024px) {
    font-size: 20px;
    width: 90%;
    padding: 25px;
  }
}
