@font-face {
  src:
    url('/fonts/имя.woff2') format('woff2'),
    url('/fonts/имя.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-family: имя;
}
@font-face {
  src:
    url('/fonts/имя.woff2') format('woff2'),
    url('/fonts/имя.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-family: Gilroy;
}
@font-face {
  src:
    url('/fonts/имя.woff2') format('woff2'),
    url('/fonts/имя.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-family: имя;
}
