.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mainHeading {
  font-size: 2.5rem;
  text-align: left;
  padding-bottom: 1.0625rem;
}

.subHeading {
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: 1.0625rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.galleryItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
