.wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 100px;

  @media (min-width: 1024px) {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    width: 80%;
  }
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 10px;
  border: 1px #d9d9d9 solid;
  border-radius: 15px;
  box-shadow: 3px 3px 4px 0px #25252560;
  color: #000;
  text-decoration: none;
  transition: background 0.2s;

  @media (min-width: 1024px) {
    padding: 25px;
  }
}

.card:hover {
  background: #e7e7e780;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: scale-down;

  @media (min-width: 1024px) {
    width: 300px;
    height: 300px;
  }
}

.title {
  margin-top: 25px;
  font-size: 24px;
  text-align: center;
  font-weight: medium;
}
