.gallery {
  margin-bottom: 50px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.gallery :global(.slick-slider),
.gallery :global(.slick-list),
.gallery :global(.slick-track),
.gallery :global(.slick-slide),
.gallery :global(.slick-slide > div) {
  height: 100%;
}

.gallery img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gallery picture {
  width: 100%;
  height: 100%;
  display: block;
}

@media (min-width: 1024px) {
  .gallery {
    display: none;
    aspect-ratio: auto;
    /* grid-template-columns: repeat(3, 1fr); */
  }
}
